AZURE_OPENAI_API_KEY="key"
AZURE_OPENAI_ENDPOINT="https://X.cognitiveservices.azure.com/openai/v1/"
AZURE_OPENAI_COMPLETION_MODEL="gpt-5.4-mini"

AZURE_DOCUMENT_INTELLIGENCE_ENDPOINT="https://X.cognitiveservices.azure.com/"
AZURE_DOCUMENT_INTELLIGENCE_ADMIN_KEY="key"
